node_modules
dist*
deps
.parcel-cache
dprint.json
*.log
.**

*tfrecord

target/
/doc
/data

/examples/test_split.rs
/examples/rio.rs
/neo4j


frontend/asset
frontend/d3
frontend/echarts
frontend/static/asset/materialize.min.js
frontend/src/get_payload_script.js
frontend/src/foo.js

server/static
server/*txt
server/*json


scripts
tmp.sh
/dump.rdb
server/symptom_full.old.tfrecord
*.gz

AdaptiveE/py/examples/
AdaptiveE/py/explore/dataset.py
AdaptiveE/py/git-graph
AdaptiveE/py/graph.ps
AdaptiveE/py/tensorboard.txt
AdaptiveE/py/transe.py
AdaptiveE/w2v/

serving/SavedModel/*
/frontend/src/table.html
