node_modules
dist*
deps
.parcel-cache
dprint.json
*.log
.**

/target
/doc
/data

/examples/test_split.rs
/examples/rio.rs
/neo4j


frontend/asset
frontend/d3
frontend/echarts
frontend/static/asset/materialize.min.js
frontend/src/get_payload_script.js
frontend/src/foo.js

server/static

scripts
tmp.sh
